.BenchmarkForm {
  .errors {
    color: indianred;
    margin: 10px 0;
  }

  button {
    background-color: lightgreen;
  }
}

.InputGroup {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;

  &.-inline {
    flex-direction: row;

    label {
      margin-right: 15px;
    }
  }

  input,
  select,
  label,
  button {
    width: 100%;
    height: 18px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }
}
