.ResultsView {
  table {
    width: 100%;

    td {
      padding: 3px 5px 3px 0;
      width: 100%;
    }

    td:first-child {
      font-weight: bold;
      width: auto;
      padding-right: 40px;
    }
  }
}

.ResultsView__top__eventTypeOverview {
  width: 750px;
  margin: 0 auto;
}