.FilesView {
  display: flex;
  flex-direction: column;
}

.FilesView__refresh {
  background: lavenderblush;
  margin-bottom: 40px;
}

.FilesView__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.FilesView__listItem {
  width: 100%;
  margin-bottom: 10px;
  display: flex;

  button:first-child {
    width: 100%;
  }
}

.FilesView__listItem--active button:first-child {
  background: lightgreen;
}

.FilesView__listItem__removeButton {
  background-color: orangered;
  width: 40px;
  margin-left: 5px;
  color: white;

  &:hover {
    background-color: mediumvioletred;
  }
}
